@import url(normalize);

@gray: #333;
@gray-light: lighten(@gray, 50%);
@link-color: #337ab7;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: @link-color;
    text-decoration: none;

    &:hover {
		text-decoration: underline;
		color: darken(@link-color, 10%);
    }
}

.wrapper {
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	clear: both;
	overflow: auto;
}

.top-nav {
	overflow: auto;
	margin: 10px 0;
}

.logo {
	padding-left: 55px;
	position: relative;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;
	line-height: 50px;


	&:before {
		content: '';
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;

		background: url('/images/logo.png') no-repeat 0 0;
		background-size: cover;
	}
}

.navbar {
	list-style: none;
	padding: 0;
	margin: 20px 0;
	border: 1px solid @gray;
	width: 100%;
	display: table;

	li {
		display: table-cell;
		float: none;
		width: 20%;

		a {
			display: block;
			width: 100%;
			padding: 5px 10px;
			text-align: center;
			text-decoration: none;
			color: @gray;

			&:hover {
				background: @gray-light;
			}
		}
	}
}

figure {
	margin: 0;

	img {
		width: 100%;
	}
}

aside {
	float: right;
	width: 30%;
}

.aside-link {
	& + & {
		margin-top: 20px;
	}
}

.main {
	.pull-left;
	width: 68%;
}

.content {
	position: relative;

	&:before {
		content: '';
		float: right;
		display: block;
		width: 180px;
		height: 150px;
		margin: 0 0 15px 15px;
	}
}

.more {
	position: absolute;
	top: 0;
	right: 0;
	width: 160px;

	li {
		margin-bottom: 5px;
	}
}

.menu-trigger, #menu-input {
	display: none;
}

.social-media-icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	background-size: contain;

	& + & {
		margin-left: 10px;
	}


	&.fb {
		background-image: url('/images/fb.png');
	}

	&.tw {
		background-image: url('/images/tw.png');
	}

	&.gp {
		background-image: url('/images/gp.png');
	}
}


footer {
	height: 50px;
	border: 1px solid @gray;
	border-bottom: none;
	background: @gray-light;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.images {
	-moz-column-count:3;
	-moz-column-gap: 3%;
	-moz-column-width: 30%;
	-webkit-column-count:3;
	-webkit-column-gap: 3%;
	-webkit-column-width: 30%;
	column-count: 3;
	column-gap: 3%;
	column-width: 30%;

	.image-container {
		margin-bottom: 20px;
		cursor: pointer;

		&.selected {
			border: 2px dashed green;
		}

		img {
			width: 100%;
		}
	}
}

@media screen and (max-width: 460px) {

	.images {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count: 2;
	}

	.menu-trigger {
		display: block;
		width: 150px;
		padding: 5px;
		text-align: center;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 16px;
		border: 1px solid @gray;
		margin: 10px auto;
	}

	#menu-input:checked + .navbar {
		display: block;
	}

	.root {
		position: relative;
	}

	.top-nav {
		text-align: center;

		.pull-left, .pull-right {
			float: none;
		}
	}

	.logo {
		display: inline-block;
		font-size: 28px;
		line-height: 40px;


		&:before {
			width: 40px;
			height: 40px;
		}
	}

	.social-media {
		position: absolute;
		bottom: 0;
		left: 10px;
		right: 10px;
		text-align: center;


		.social-media-icon {
			width: 40px;
			height: 40px;
		}
	}

	.navbar {
		display: none;

		li {
			display: block;
			width: 100%;
		}
	}

	.content {
		&:before {
			display: none;
		}
	}

	.main {
		float: none;
		width: 100%;
	}

	aside {
		display: none;
	}

	.more {
		position: static;
		width: 100%;
	}
}
