<div class="main">
	<article>
		<div class="article-header">
			<h2>Lorem ipsum dolor sit</h2>
			<p>posted on 15 May 2015 by <a href="#">Author</a></p>
		</div>
		<figure>
			<img src="/images/image1.jpg" alt="Image 1" />
		</figure>
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, libero nulla earum sed nam sequi, minus sint asperiores ullam laborum esse, quibusdam quia veritatis dolores suscipit! Ex, numquam laudantium nulla!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius aliquam laborum animi doloremque, voluptas facilis eos suscipit voluptatibus aperiam deserunt, necessitatibus dicta nobis officiis neque nam eveniet quam iusto unde?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius aliquam laborum animi doloremque, voluptas facilis eos suscipit voluptatibus aperiam deserunt, necessitatibus dicta nobis officiis neque nam eveniet quam iusto unde?</p>
			<div class="more">
				<h4>More...</h4>
				<ul>
					<li><a href="#">Link #1</a></li>
					<li><a href="#">Another link</a></li>
					<li><a href="#">Third link</a></li>
				</ul>
			</div>
		</div>
	</article>
</div>
<aside role="complementary">
	<a href="#/" class="aside-link">
		<h3>A guide to snoopsetting</h3>
		<figure>
			<img src="/images/image2.jpg" alt="Image 2">
		</figure>
	</a>
	<a href="#/" class="aside-link">
		<h3>A guide to snoopsetting</h3>
		<figure>
			<img src="/images/image3.jpg" alt="Image 3">
		</figure>
	</a>
</aside>
