
<h1>Select images</h1>

<div class="images" ng-if="vm.images.length > 0">
    <div class="image-container" ng-class="{'selected': vm.isSelected(image.media.m)}" ng-repeat="image in vm.images">
        <img ng-src="{{ image.media.m }}" alt="{{image.title}}" title="{{image.title}}" ng-click="vm.checkImage(image.media.m)">
    </div>
</div>
